name: Pull from server

on:
  workflow_dispatch:

jobs:
  deploy:
    name: Deploy blog on quitw.org
    runs-on: ubuntu-latest
    steps:
      - name: Trigger predefined git pull action
        run: |
          curl -X POST "${{ secrets.ACTION_URL }}" -d '${{ secrets.ACTION_PAYLOAD }}' -o resp.json
          jq '{output: .logEntry.output, exitCode: .logEntry.exitCode}' resp.json
          [[ "$(jq -r '.logEntry.exitCode' resp.json)" == 0 ]]
